<div class="authform row">
  <h3>Редактировать профиль</h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <div class="form-group">
      <%= f.label :name, 'Имя' %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email, 'Почта' %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Ждем подтверждение для почты: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <% if current_user.promoter? %>
      <div class="form-group">
        <%= f.label :inn, 'ИНН' %>
        <%= f.text_field :inn, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :address, 'Юридический адрес' %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>
    <% end %>
    <fieldset>
      <h3>Поменять пароль</h3>
      <div class="form-group">
        <%= f.label :password, 'Новый пароль' %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, 'Подтверждение' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit 'Обновить', :class => 'button left' %>
  <% end %>
</div>

<div class="authform row">
<h3>Удалить профиль</h3>
<p>Заебались? Пожалуйста, уходите.</p>
<%= button_to "Утилизировать профиль", registration_path(resource_name), :data => { :confirm => "Точно?" }, :method => :delete, :class => 'button' %>
</div>
