<p id="notice"><%= notice %></p>

<h1>Кассы</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cashboxes.each do |cashbox| %>
      <tr>
        <td><%= link_to 'Show', cashbox %></td>
        <td><%= link_to 'Edit', edit_cashbox_path(cashbox) %></td>
        <td><%= link_to 'Destroy', cashbox, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cashbox', new_cashbox_path %>
