<p id="notice"><%= notice %></p>

<h3>Кассы</h3>

<% @cashboxes.each do |cashbox| %>
<div class="row">
<%= cashbox.name %>
 <%= cashbox.total %> руб. 
<%= button_to 'Перевести', {
  :controller => 'cashboxes',
  :action => 'transfer',
  :id => cashbox.id},
  {:class => 'button tiny'} unless cashbox.id == 0 %>
</div>

<%= "<hr>".html_safe if cashbox.id == 0 %>
<% end %>

<br>
<%= link_to 'Добавить кассу', new_cashbox_path %>
