<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ваш билет на концерт <%= @ticket.concert.date %> <%= @ticket.concert.time %></h1>
    <p>Ссылка на <%= link_to 'билет', 
            :controller => "tickets", 
            :action => "show", 
            :id => @ticket.url_hash, 
            :host =>'seebee.herokuapp.com' 
                unless @ticket.url_hash == nil %></p>
    <h1>Ряд: <%= @ticket.row %></h1>
    <h1>Место: <%= @ticket.seat %></h1>
  </body>
</html>