<div class="row" style="padding-bottom:15px">
<h3>Билеты</h3>

<% @tickets.each do |ticket| %>
    <div class="large-12 columns" >
        <span style=<%= ticket.transfer ? "color:green" : "color:red" %>>
            <small>
                <%= ticket.created_at %> <%= User.find(ticket.user_id).name %>
            </small>
        </span>
        <span style=<%= ticket.check_in ? "color:green" : "color:red" %>>
            <small>
                <%= "Не" unless ticket.check_in %> прошел
            </small>
        </span>
        <span>
            <%= react_component('Ticket', {
                band: ticket.concert.band,
                seat: ticket.seat,
                row: ticket.row,
                date: ticket.concert.date,
                price: ticket.price
            }) %>
            <%= "Скидка #{(ticket.discount_amount*100).round} %. Причина: #{ticket.discount_reason}" unless ticket.discount_amount == nil %><br>
            <% unless ticket.return == true %>
            <%= link_to 'Билет', ticket_path(ticket.url_hash) unless ticket.url_hash == nil %><br>
            <br>
            <%= button_to  'Оформить возврат', 
                {:action => 'return', :id => ticket.id },
                method: :post, :class => 'button left tiny alert padded', data: {confirm: "Вы уверены?"} %>
            <% else %>
                <%= "Сумма возврата: #{ticket.return_amount} руб." %>
            <% end %>
        </span>
        <hr>
    </div>
<% end %>
</div>