<% @tickets.each do |ticket| %>
<div class="row">
    <div class="large-12 columns">
        <%= ticket.id %> <%= ticket.concert.band %> <%= ticket.concert.date %> Ряд: <%= ticket.row %> Место: <%= ticket.seat %>
        <%= react_component('Ticket', {title: ticket.concert.band, body: ticket.seat, published: ticket.concert.date}) %>
        <hr>
    </div>
</div>
<% end %>