<div class="row" style="padding-bottom:15px">
<h3>Билеты</h3>

<% @tickets.each do |ticket| %>
    <div class="large-12 columns" style=<%= ticket.transfer ? "color:green" : "color:red" %>>
        <%= react_component('Ticket', {
            band: ticket.concert.band,
            seat: ticket.seat,
            row: ticket.row,
            date: ticket.concert.date,
            price: ticket.price
        }) %> <small><%= User.find(ticket.user_id).name %></small>
        <%= "Скидка #{ticket.discount_amount*100.round} %. Причина: #{ticket.discount_reason}" unless ticket.discount_amount == nil %>
        <% unless ticket.return == true %>
        <%= button_to  'Оформить возврат', 
            {:action => 'return', :id => ticket.id },
            method: :post, :class => 'button left tiny alert', data: {confirm: "Вы уверены?"} %>
        <% else %>
            <%= "Сумма возврата: #{ticket.return_amount} руб." %>
        <% end %>
        <hr>
    </div>
<% end %>
</div>