<div class="row">
	<div class="large-12 columns">
		<h3>Продать билет на <%= @concert.band %> <small><%= @concert.date %> в <%= @concert.hall.name %></small></h3>
        <p>Цены: <%= @concert.prices.join(', ') %> руб.</p>
	 </div>
</div>

<%= form_for :ticket, url: tickets_path do |f| %>
<%= hidden_field(:ticket, :concert_id, :value => @concert.id) %>
<div class="row">
    <div class="large-12 columns">
        <% react_component('TicketForm', {
           sections: sections_as_json,
           tickets: tickets_as_json,
           prices: @concert.prices
           }, {prerender: true}) %>
    </div>
</div>

    <div class="large-12 columns">
        <%= f.submit "Продать", :class => 'button' %>
    </div>
</div>

<% end %>