    <div class="large-2 columns line-right">
      <p><span class="vertical-text side-text">концерт: <%= @ticket.concert.band %><br>
          сектор: <%= @ticket.section.name %> 
          <% unless @ticket.dancefloor %><%="ряд: #{@ticket.row}  место: #{@ticket.seat}" %><% end %>
          цена: <%= @ticket.price %> руб.<br>
          билет № <%= @ticket.russian_id %></span> 
    </div>
    <div class="large-6 columns main-info">
      <h2><%= @ticket.concert.band %></h2>
      <p>билет № <%= @ticket.russian_id %> </span> за <%= @ticket.price %> р.</p> 
      <h5><%= @ticket.concert.hall.name %> <%= @ticket.concert.date.strftime("%d.%m") %> <%= @ticket.concert.time.strftime("%H:%M") %></h5>
      <h3><small>сектор:</small> <%= @ticket.section.name %> 
           <% unless @ticket.dancefloor %> <small>ряд:</small> <%=@ticket.row%> <small>место:</small> <%=@ticket.seat%><% end %>
      </h3>
                <div class="org">
                  Организатор: <%= @ticket.concert.user.name %> адрес: <%= @ticket.concert.user.address %> инн: <%= @ticket.concert.user.inn %>
                </div>
    </div>
    <div class="large-2 columns qr"><span class="image"><%= raw @ticket.qrcode %></span><%= image_tag "https://s3.eu-central-1.amazonaws.com/seebe/age/#{@ticket.concert.age}.png", size: 32 %></div>
    <div class="large-1 columns line-left"><span class="vertical-text"><h3>Контроль</h3></span></div>
</div>

<style>
    .age, .vertical-text, .org {
        display: none;
    }

    @page  
    { 
        size: auto;
        margin: 0mm 0mm 0mm 0mm;
    }

    body  
    { 
        margin: 0px;  
    }

    @media print {
      .age, .vertical-text, .org {
        display: block;
      }

      main {
        padding:0;
      }

      .large-1 {
        width: 8.33333%;
      }

      .large-2 {
        width: 16.66667%;
      }

      .large-3 {
        width: 25%;
      }

      .large-4 {
        width: 33.33333%;
      }

      .large-5 {
        width: 41.66667%;
      }

      .large-6 {
        padding-left: 40px;
        width: 50%;
      }

      .large-7 {
        width: 58.33333%;
      }

      .large-8 {
        width: 66.66667%;
      }

      .large-9 {
        width: 75%;
      }

      .large-10 {
        width: 83.33333%;
      }

      .large-11 {
        width: 91.66667%;
      }

      .large-12 {
        width: 100%;
      }
        
      header nav, footer {
          display: none;
      }

      .columns {
        height: 250px;
      }

      .line-right {
        border-right: 3px dotted #444;
      }

      .line-left {
        border-left: 5px dotted #444;
      }

      .image {

        padding-top: 60px;
      }

      h2 {
        padding-top: 12px;
      }

      .vertical-text {
        transform: rotate(270deg);
        transform-origin: left bottom 10;
        margin-top: 100px;
        margin-left:-40px;
        float: left;
      }

      .side-text {
        margin-top: 90px;
        font-size: 12px;
        width:200px;
      }

      .main-info {
        font-size: 18px;
      }

      .org {
        font-size: 7px;
        overflow: hidden;
      }

      .qr {
          display: block;
          padding:8px;
          padding-top: 70px;
          right:110px;
          position:fixed;
      }
    }
}
</style>