<% if current_user.promoter? %>
<div class="row">
	<div class="large-12 columns">
		<h1><%= link_to "Добавить концерт", action: "new" %></h1>
	</div>
</div>
<hr>
<% end %>

<% @concerts.each do |concert| %>
<div class="row">
	<div class="large-2 columns">
	   <%= image_tag concert.poster.url, width: '100' %>
	</div>

	<div class="large-10 columns">
        <h3><%= concert.band %> <b><%= concert.date %> <small><%= User.find(concert.user_id).email %></small></h3>
        <h4><%= Hall.find(concert.hall_id).name %></h4>

        <% if current_user.seller? %>
            <%= link_to 'Продать билет', new_ticket_path(:concert => concert.id) %><br>
        <% end %>
        <% if current_user.promoter? %>
            <%= link_to 'Удалить концерт', concert_path(concert.id), method: :delete, data: {confirm: "Вы уверены?"} %><br>
        <% end %>
    </div>
    <hr>
</div>
<% end %>