<style>
.concert_path:hover {
  background-color: #eee;
  color:red;
}

.columns {
    padding: 5px;
}
</style>

<div class="row">
<h3>Концерты</h3>
<% if current_user.promoter? %>
	<div class="large-12 columns">
		<h3><%= link_to "Добавить концерт", { :action => 'new' }, {:class => 'button left large'} %></h3>
	</div>
<% end %>

<% @concerts.each do |concert| %>
<a href=<%= edit_concert_path(concert.id) %>>
    <% next if current_user.seller? && concert.status != Concert::MODERATED %>
	<div class="large-2 columns">
	   <%= image_tag concert.poster.url, width: '100' %>
       <% if concert.status == Concert::MODERATED %>
            <span class="success label">Отмодерирован</span>
        <% else %>
            <span class="warning label">Немодерирован</span>
        <% end %>
	</div>

	<div class="large-10 columns concert_path" >
        <h3><%= concert.band %> <b><%= concert.date %> <small><%= User.find(concert.user_id).email %></small></h3>
        <h4><%= Hall.find(concert.hall_id).name %></h4>
        <% unless concert.prices.empty? %><p><i>Цены: <%= concert.prices.join(', ') %></i><% end %>
        <% unless concert.dancefloor_price.nil? %><p><i>танцпол: <%= concert.dancefloor_price %></i><% end %>
        </p>
       

        <% if current_user.seller? && concert.status == Concert::MODERATED %>
            <%= link_to 'Продать билет', new_ticket_path(:concert => concert.id), {:class => 'button left small'} %>
        <% end %>

        <% if current_user.admin? && concert.status != Concert::MODERATED %>
            <%= button_to "Отмодерирован",
            {:action => 'set_moderated', :id => concert.id },
            {:method => :post, :class => 'button left small'} %>
        <% end %>

        <% if (current_user.promoter? && concert.user_id == current_user.id) || current_user.admin? %>
            <%= button_to 'Удалить концерт', 
                concert_path(concert.id), 
                method: :delete, 
                :class => 'button left small alert', 
                data: {confirm: "Вы уверены?"}
             %>
        <% end %>
    </div>
    </a>
    <hr>
<% end %>