<link href='https://fonts.googleapis.com/css?family=Kelly+Slab&subset=cyrillic' rel='stylesheet' type='text/css'>
<style>
.test {
  font-family: 'Kelly Slab', cursive;
}
</style>

<%= form_for :concert, url: concerts_path do |f| %>

<%= f.hidden_field :hex, :value => @hex  %>

<div class="row">
	<div class="large-12 columns">
		<h3>Добавить концерт</h3>
	  <%= f.label "Артист" %>
	  <%= f.text_field :band %>
	 </div>
</div>

<div class="row">
	<div class="large-12 columns">
	  <%= f.label "Описание" %>
	  <%= f.text_area :description, rows: 18 %>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<%= f.label "Площадка" %>
		<%= react_component('HallForm', {
			halls: halls_as_json,
			prices: [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000],
			hex: @hex
        }) %>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
	  <%= f.label "Дата" %>
		<%= date_field(:concert, :date) %>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
	  <%= f.label "Время" %>
		<%= time_field(:concert, :time) %>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
	  <%= f.label "Возрастное ограничение" %>
		<%= select("concert", "age", [0, 6, 12, 18, 21]) %>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
	  <%= f.label "Афиша" %>
		<%= f.file_field :poster %>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
  	<%= f.submit "Добавить", :class => 'button' %>
	</div>
</div>

<% end %>
