<%# add navigation links to this file %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li><%= link_to 'Админ', '/admin' %></li>
    <li><%= link_to 'Пользователи', users_path %></li>
  <% end %>
  <% if current_user.promoter? || current_user.admin? || current_user.seller? %>
    <li><%= link_to 'Концерты', concerts_path %></li>
  <% end %>
  <% if current_user.seller? || current_user.admin? %>
    <li><%= link_to 'Билеты', tickets_path %></li>
  <% end %>
    <li><%= link_to 'Выйти', destroy_user_session_path, :method=>'delete' %></li>
<% end %>
